* {
  font-family: monospace;
  font-size: 20px;
  user-select: none;
}
.app {
  text-align: center;
  white-space: nowrap;
}
.open {
  background-color: rgb(186, 186, 186);
  border-color: rgb(186, 186, 186);
}
button:active {
  border-style: solid;
}
button:focus {
  outline: none;
}
.mine {
  background-color: crimson;
}
